################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/rajeevsoni71
/Template_Pretty_Printer_ModernCpp
/Multithreading_ModernCpp
