################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/rajeevsoni71
/Template_Pretty_Printer_ModernCpp
/Multithreading_ModernCpp
OenGLCourseApp/
Project1_ModrenCpp_Bank/
scoped_enums_ModernCpp_11/
Template-Class_template_ModernCpp/
thread_ModernCpp/
